.html {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    margin: 0 auto;
    max-width: 2000px;
    font-family: arial;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: rgb(62, 77, 78);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}


li {
    display: inline-block;
    margin: 20px;
}

h1 {
    font-weight: 200;
}

h2 {
    font-size: 35px;
    line-height: 30px;
}

h3 {
    text-align: center;
    color: rgb(150, 214, 155);
}

main {
    margin-top: 50px;
    text-align: center;
}

span {
    color: rgb(87, 179, 87);
}

form {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 70%;
    text-align: center;
}

form [type= "submit"] {
    position: relative;
    left: 500px;
    height: 50px;
    width: 50%;
    font-weight: bold;
    background-color: green;
    color: white;

}

form [type= "submit"]:hover {
    cursor: pointer;

}

input {
    position: relative;
    left: 200px;
    margin-top: 15px;
    height: 15px;
    padding: 15px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
}

select {
    position: relative;
    left: 200px;
    margin-top: 15px;
    height: 15px;
    padding: 15px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    flex-direction: column;
    display: flex;
    height: 50px;
    text-align: center;
}

#divlink {
    background-color: #D0D0D0;
}
.divlink a.link {
    display: block;
    height: 100%;
    width: 100%;
}

a {
    color: white;
    flex-direction: column;
    line-height: 10px;
    text-decoration: none;
}

a:hover {
    color: rgb(87, 179, 87);
    transition: background 1s;
}